{% extends 'html/base.html' %}

{% block content %}
{% comment %} <div class="navdiv">
    <nav id="nav">   
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'artists' %}">Artists</a>
        <a href="{% url 'album-list' %}">Albums</a>
    </nav>
</div> {% endcomment %}
<br>
<center>
<h1>Albums</h1>
<h3>Click Album for more info!</h3>
{% for album in albums %}
<li>{{ album.artist.artist }} - <a href="{% url 'album-detail' album.pk %}">{{ album.title }}</a> || <a href="{% url 'edit-album' pk=album.pk%}" class="button is-warning is-focused">Edit Album</a> <a href="{% url 'delete-album' pk=album.pk%}" class="button is-warning is-focused">Delete Album</a><br></li>
{% endfor %}
<br>
<div class="add">
    <div class="btn btn-primary btn-large">
        <a href="/artists/new">Add an Artist</a>
    </div>
    <div class="btn btn-primary btn-large">
        <a href="/albums/new">Add an Album</a>
    </div>
</div>
</center>
{% endblock content %}