{% extends 'html/base.html' %}

{% block content %}
<div class="navdiv">
    <nav id="nav">   
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'artists' %}">Artists</a>
        <a href="{% url 'album-list' %}">Albums</a>
    </nav>
</div>
<br>
<center>
<div class="info">
    {% if album.image %}
        <div id="albumImg">
            <img src="{{ album.image.url }}" alt="{{ album.title }}">
        </div>
    {% endif %}

    <h2>{{album.title}}</h2>
    <ul>
        <li>{{album.artist.name}}</li>
        {% if album.release_year %}
            <li>{{album.release_year}}</li>
        {% endif %}
        {% if album.produced_by %}
            <li>{{album.produced_by}}</li>
        {% endif %}
        {% if album.mixed_by %}
            <li>{{album.mixed_by}}</li>
        {% endif %}
    </ul>
</div>
<br>
<div class="add">
    <div class="btn btn-primary btn-large">
        <a href="/artists/new">Add an Artist</a>
    </div>
    <div class="btn btn-primary btn-large">
        <a href="/albums/new">Add an Album</a>
    </div>
</div>
</center>
{% endblock content %}