{% extends 'html/base.html' %}

{% block content %}

<div class="navdiv">
    <nav id="nav">   
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'artists' %}">Artists</a>
        <a href="{% url 'album-list' %}">Albums</a>
    </nav>
</div>
<br>
<div class="info">
<h3>{{ artist.artist }}
<br>
<li>Genre: {{ artist.genre }}</li>
<li>Artist Biography: {{ artist.biography }}</li>
</div>
<div class="add">
    <div class="add-artist">
        <a href="/artists/new">Add an Artist</a>
    </div>
    <div class="add-album">
        <a href="/albums/new">Add an Album</a>
    </div>
</div>

{% endblock content %}