{% extends 'html/base.html' %}


{% block content %}
{% comment %} <div class="navdiv">
    <nav id="nav">   
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'artists' %}">Artists</a>
        <a href="{% url 'album-list' %}">Albums</a>
    </nav>
</div> {% endcomment %}
<br>
<center>
<h1>Django Music Collab</h1>
<h3>Click on Artists/Albums in the navigation bar to explore, or add your own below!</h3>
<h4>Don't forget to sign the guestbook!</h4>
<br>
  <!-- TRIPLE MC HAMMER -->
  <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">&nbsp;&nbsp;
  <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">&nbsp;&nbsp;
  <img src="http://code.divshot.com/geo-bootstrap/img/test/mchammer.gif">
<br>
<br>
<div class="add">
    <div class="btn btn-primary btn-large">
        <a href="/artists/new">Add an Artist</a>
    </div>
    <div class="btn btn-primary btn-large">
        <a href="/albums/new">Add an Album</a>
    </div>
</div>
</center>
{% endblock content %}